; default module
; help text configuration
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/default
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[audience]
description = "Allowed target audiences (Variables: audience = … in help file header)"
default[] = editor
default[] = admin
default[] = programmer

[audience.editor]
description = "For editors"

[audience.admin]
description = "For administrators"

[audience.programmer]
description = "For programmers"
