; default module
; help text configuration
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/default
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;

[audience]
description = "Allowed target audiences (Variables: audience = … in help file header)"
default[] = editor
default[] = admin
default[] = programmer

[audience.editor]
description = "For editors"

[audience.admin]
description = "For administrators"

[audience.programmer]
description = "For programmers"

[menu]
description = "Internal area menu group (Variables: menu = … in help file header)"
enum[] = help
enum[] = website
enum[] = content
enum[] = module

[menu_description]
description = "Link description in internal area menu (Variables: menu_description = … in help file header)"

[menu_priority]
description = "Sort priority 0–10 in internal area menu, 10 = top (Variables: menu_priority = … in help file header)"
type = int
