; default module
; configuration for other modules
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/default
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0
;
; Syntax of this configuration file:
; 
; [module_subsection]: just module names + sections, for better readability
; key = value
; key = __defaults__ initialises key with default values
;

[zzbrick]
brick_shortcuts[] = __defaults__
brick_shortcuts[] = show helplink
