; default module
; routes
;
; Part of »Zugzwang Project«
; https://www.zugzwang.org/modules/default
;
; @author Gustaf Mossakowski <gustaf@koenige.org>
; @copyright Copyright © 2026 Gustaf Mossakowski
; @license http://opensource.org/licenses/lgpl-3.0.html LGPL-3.0

[default_helptext]
description = "Individual help text pages"
brick = "request helptext *"
group = public

[default_logout]
description = "Logout"
brick = "request logout"
group = public

[default_maintenance]
description = "Database maintenance, updates, access to logfiles"
brick = "request maintenance"
group = admin

[default_masquerade]
description = "Masquerade login"
brick = "request masquerade"
group = admin

[default_proxy]
description = "Proxy access of third-party websites"
brick = "request proxy *"
group = public

[default_settings]
description = "Website settings"
brick = "forms settings-website"
group = admin

[default_tables]
description = "Admin access to all tables"
brick = "tables *"
group = admin

[default_website]
description = "Internal tools for a single website"
brick = "request website *"
group = "read and write"
include_access = default_websites_edit
include_access = default_webpages

[search]
description = "Search"
brick = "request search"
